body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
  min-height: 200px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.page-header {
    margin: 0;
}

ul.nav li a {
    font-size: 16px;
}

.page-header ul.nav li a:hover {
    color: #484693;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #4B4A81;
    font-size: 45px;
    text-decoration: none;
    height: 55px;
    padding: 5px 5px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: #FF8F8F;
}

.date {
    color: #ccc;
}

.voyages .place {
    margin-bottom: 50px;
}

ul.comments li {
    margin-bottom: 20px;
}

.place h3 a,
.place h3 a:visited {
    color: #FF8F8F;
}

ul.voyages,
ul.comments {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

textarea.form-control {
  height: 100px;
  width:  400px;
}

.comments .author {
  font-size: 16px;
}