<html>
    <head>
        <title>Voyage app</title>

        {% load staticfiles %}
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/voyage.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>
                <a href="{% url 'voyage.views.voyage_list' %}">Voyage</a>
            </h1>

            {% if user.is_authenticated %}
                Hello {{ user.username }}
                <a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}">Log in</a>
            {% endif %}
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>