{% extends 'layout/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'voyage_edit' pk=place.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'voyage_remove' pk=place.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}

    <div class="voyages place">
        <h1>{{ place.name }}</h1>
        {% if place.published_date %}
            <p class="date">
                {{ place.published_date }}
            </p>
        {% else %}
            <a class="btn btn-default" href="{% url 'voyage.views.voyage_publish' pk=place.pk %}">Publish</a>
        {% endif %}
        <p>{{ place.text|linebreaks }}</p>
    </div>

    {% if user.is_authenticated %}
        {% include 'voyage/_voyage_comment_form.html' %}
    {% endif %}

    {% include 'voyage/_voyage_comments.html' %}

{% endblock %}